{
    "smithy": "2.0",
    "shapes": {
        "example.smithy#MyService": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "example.smithy#MyOperation"
                },
                {
                    "target": "example.smithy#OtherOperation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "example.smithy#MyOperation": {
            "type": "operation",
            "input": {
                "target": "example.smithy#MyOperationInput"
            },
            "output": {
                "target": "example.smithy#MyOperationOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/foo",
                    "method": "POST"
                }
            }
        },
        "example.smithy#OtherOperation": {
            "type": "operation",
            "output": {
                "target": "example.smithy#OtherOperationOutput"
            },
            "traits": {
                "smithy.api#readonly":  {},
                "smithy.api#http": {
                    "uri": "/bar",
                    "method": "GET"
                }
            }
        },
        "example.smithy#MyOperationInput": {
            "type": "structure",
            "members": {
                "payload": {
                    "target": "example.smithy#InboundBinaryPayload",
                    "traits": {
                        "smithy.api#required":  {},
                        "smithy.api#httpPayload":  {}
                    }
                }
            }
        },
        "example.smithy#MyOperationOutput": {
            "type": "structure",
            "members": {
                "payload": {
                    "target": "example.smithy#OutboundBinaryPayload",
                    "traits": {
                        "smithy.api#required":  {},
                        "smithy.api#httpPayload":  {}
                    }
                }
            }
        },
        "example.smithy#OtherOperationOutput": {
            "type": "structure",
            "members": {
                "abc": {
                    "target": "example.smithy#StringShape"
                },
                "def": {
                    "target": "example.smithy#NonPayloadBinaryShape"
                }
            }
        },
        "example.smithy#InboundBinaryPayload": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "image/*"
            }
        },
        "example.smithy#OutboundBinaryPayload": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "application/zip"
            }
        },
        "example.smithy#NonPayloadBinaryShape": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "audio/mp4"
            }
        },
        "example.smithy#StringShape": {
            "type": "string"
        }
    }
}
