{
    "smithy": "2.0",
    "shapes": {
        "example.smithy#MyService": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "example.smithy#MyOperation"
                },
                {
                    "target": "example.smithy#MyIntegrationOperation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "aws.auth#cognitoUserPools": {
                    "providerArns": [
                        "arn:aws:cognito-idp:${AWS::Region}:${AWS::AccountId}:userpool/user_pool_id",
                        "arn:aws:cognito-idp:${AWS::Region}:${AWS::AccountId}:userpool/other_user_pool_id"
                    ]
                }
            }
        },
        "example.smithy#MyOperation": {
            "type": "operation",
            "traits": {
                "smithy.api#http": {
                    "uri": "/foo",
                    "method": "GET"
                }
            }
        },
        "example.smithy#MyIntegrationOperation": {
            "type": "operation",
            "traits": {
                "smithy.api#http": {
                    "uri": "/bar",
                    "method": "POST"
                },
                "aws.apigateway#integration": {
                    "type": "http_proxy",
                    "uri": "https://example.com",
                    "httpMethod": "POST",
                    "connectionType": "VPC_LINK",
                    "connectionId": "${stageVariables.vpcLinkId}",
                    "integrationTarget": "${stageVariables.targetArn}"
                }
            }
        }
    }
}
