{
    "smithy": "2.0",
    "shapes": {
        "example.smithy#MyService": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "example.smithy#FooOperation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "example.smithy#FooOperation": {
            "type": "operation",
            "input": {
                "target": "example.smithy#FooOperationInput"
            },
            "output": {
                "target": "example.smithy#FooOperationOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/foo",
                    "method": "POST"
                }
            }
        },
        "example.smithy#FooOperationInput": {
            "type": "structure",
            "members": {
                "payload": {
                    "target": "example.smithy#FooOperationPayload",
                    "traits": {
                        "smithy.api#required": {},
                        "smithy.api#httpPayload": {}
                    }
                },
                "foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo-Header"
                    }
                }
            }
        },
        "example.smithy#FooOperationPayload": {
            "type": "structure",
            "members": {
                "bar": {
                    "target": "smithy.api#String"
                }
            }
        },
        "example.smithy#FooOperationOutput": {
            "type": "structure",
            "members": {
                "payload": {
                    "target": "example.smithy#FooOperationPayload"
                },
                "baz": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Baz-Header"
                    }
                }
            }
        }
    }
}
