version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
    groups:
      gradle:
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "com.opencastsoftware:prettier4j"
        versions: [ "0.3.1", "0.3.2" ]
