# doc builds
docs/smithy.egg-info
docs/dist
docs/src
*.pyc

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Fleet
.fleet/

# VSCode
bin/

# Mac
.DS_Store

# Maven
target/
**/dependency-reduced-pom.xml

# Gradle
**/.gradle
build/
!smithy-build/src/main/java/software/amazon/smithy/build
!smithy-build/src/main/resources/software/amazon/smithy/build
!smithy-build/src/test/java/software/amazon/smithy/build
!smithy-build/src/test/resources/software/amazon/smithy/build
*/out/
*/*/out/
/wrapper

# jdt-ls
.metadata

# Smithy
.smithy.lsp.log
