name: 'Checkout and build Smithy repo'
description: 'Checkout and build Smithy repo'
outputs:
  smithy-version:
    description: "Smithy version"
    value: ${{ steps.smithy-version.outputs.smithy-version }}
runs:
  using: "composite"
  steps:
    - uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'corretto'

    - uses: actions/checkout@v2
      with:
        path: main

    - uses: actions/checkout@v2
      with:
        repository: awslabs/smithy
        path: smithy

    - run: cd ./smithy && ./gradlew clean build publishToMavenLocal
      shell: bash

    - id: smithy-version
      run: cd ./smithy && echo "smithy-version=$(cat ./VERSION)" >> $GITHUB_OUTPUT
      shell: bash
