{
    "smithy": "2.0",
    "shapes": {
        "smithy.example#Service": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.example#Operation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "smithy.example#Operation": {
            "type": "operation",
            "input": {
                "target": "smithy.example#OperationInput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/",
                    "method": "POST"
                }
            }
        },
        "smithy.example#OperationInput": {
            "type": "structure",
            "members": {
                "timestamp1": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#httpQuery": "query1"
                    }
                },
                "timestamp2": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#httpQuery": "query2",
                        "smithy.api#timestampFormat": "epoch-seconds"
                    }
                },
                "timestampList": {
                    "target": "smithy.example#TimestampList",
                    "traits": {
                        "smithy.api#httpQuery": "query3"
                    }
                }
            }
        },
        "smithy.example#TimestampList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Timestamp"
            }
        }
    }
}
