{
    "smithy": "2.0",
    "shapes": {
        "smithy.example#Service": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.example#Operation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "smithy.example#Operation": {
            "type": "operation",
            "input": {
                "target": "smithy.example#OperationInput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/",
                    "method": "POST"
                }
            }
        },
        "smithy.example#OperationInput": {
            "type": "structure",
            "members": {
                "string1": {
                    "target": "smithy.example#JsonString",
                    "traits": {
                        "smithy.api#httpHeader": "X-String1"
                    }
                },
                "stringList": {
                    "target": "smithy.example#StringList",
                    "traits": {
                        "smithy.api#httpHeader": "X-String2"
                    }
                }
            }
        },
        "smithy.example#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.example#JsonString"
            }
        },
        "smithy.example#JsonString": {
            "type": "string",
            "traits": {
                "smithy.api#mediaType": "application/json"
            }
        }
    }
}
