{
    "smithy": "2.0",
    "shapes": {
        "smithy.example#Service": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.example#Operation"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "smithy.example#Operation": {
            "type": "operation",
            "input": {
                "target": "smithy.example#OperationInput"
            },
            "output": {
                "target": "smithy.example#OperationOutput"
            },
            "errors": [
                {
                    "target": "smithy.example#Error"
                }
            ],
            "traits": {
                "smithy.api#idempotent": {},
                "smithy.api#http": {
                    "uri": "/",
                    "method": "POST"
                }
            }
        },
        "smithy.example#OperationInput": {
            "type": "structure",
            "members": {
                "header": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo-Header"
                    }
                },
                "body": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "smithy.example#OperationOutput": {
            "type": "structure",
            "members": {
                "header": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo-Header"
                    }
                },
                "body": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "smithy.example#Error": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        }
    }
}
