{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#Byte": {
            "type": "byte",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#Short": {
            "type": "short",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#Integer": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#IntEnum": {
            "type": "intEnum",
            "members": {
                "V1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 1
                    }
                },
                "V2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 2
                    }
                }
            }
        },
        "ns.foo#Long": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#Float": {
            "type": "float",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#Double": {
            "type": "double",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#BigInteger": {
            "type": "bigInteger",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#BigDecimal": {
            "type": "bigDecimal",
            "traits": {
                "smithy.api#range": {
                    "min": 10,
                    "max": 20
                }
            }
        },
        "ns.foo#String1": {
            "type": "string",
            "traits": {
                "smithy.api#mediaType": "application/json"
            }
        },
        "ns.foo#String2": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 3
                }
            }
        },
        "ns.foo#String3": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {"value": "foo", "name": "FOO"},
                    {"value": "bar", "name": "BAR"}
                ]
            }
        },
        "ns.foo#String4": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z]+$"
            }
        },
        "ns.foo#Blob1": {
            "type": "blob"
        },
        "ns.foo#Blob2": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 3
                }
            }
        },
        "ns.foo#Timestamp": {
            "type": "timestamp"
        },
        "ns.foo#Boolean": {
            "type": "boolean"
        },
        "ns.foo#List": {
            "type": "list",
            "member": {
                "target": "ns.foo#String"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "ns.foo#UniqueList": {
            "type": "list",
            "member": {
                "target": "ns.foo#String"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "ns.foo#SparseList": {
            "type": "list",
            "member": {
                "target": "ns.foo#String"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "ns.foo#String": {
            "type": "string"
        },
        "ns.foo#KeyString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "ns.foo#Map": {
            "type": "map",
            "key": {
                "target": "ns.foo#KeyString"
            },
            "value": {
                "target": "ns.foo#List"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "ns.foo#SparseMap": {
            "type": "map",
            "key": {
                "target": "ns.foo#KeyString"
            },
            "value": {
                "target": "ns.foo#List"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "ns.foo#Structure": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "baz": {
                    "target": "ns.foo#String"
                },
                "bar": {
                    "target": "ns.foo#List"
                },
                "bam": {
                    "target": "ns.foo#Structure"
                }
            }
        },
        "ns.foo#TaggedUnion": {
            "type": "union",
            "members": {
                "foo": {
                    "target": "ns.foo#String"
                },
                "baz": {
                    "target": "ns.foo#String"
                }
            }
        },
        "ns.foo#HttpDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "http-date"
            }
        },
        "ns.foo#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "ns.foo#EpochSeconds": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "epoch-seconds"
            }
        },
        "ns.foo#TimestampList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Timestamp",
                "traits": {
                    "smithy.api#timestampFormat": "date-time"
                }
            }
        },
        "ns.foo#TimestampListNoFormatTrait": {
            "type": "list",
            "member": {
                "target": "ns.foo#Timestamp"
            }
        },
        "ns.foo#Structure2": {
            "type": "structure",
            "members": {
                "a": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#pattern": "^[0-9]"
                    }
                },
                "b": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 10
                        }
                    }
                },
                "c": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 10
                        }
                    }
                }
            }
        },
        "ns.foo#Structure3": {
            "type": "structure",
            "members": {
                "defaultedInt": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "requiredInt": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#Structure4": {
            "type": "structure",
            "members": {
                "httpDate": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "http-date"
                    }
                },
                "httpDateTarget": {
                    "target": "ns.foo#HttpDate"
                }
            }
        },
        "ns.foo#Service": {
            "type": "service",
            "version": "2017-17-01",
            "operations": [
                {
                    "target": "ns.foo#Operation"
                }
            ],
            "resources": [
                {
                    "target": "ns.foo#Resource"
                }
            ]
        },
        "ns.foo#Operation": {
            "type": "operation",
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "ns.foo#Resource": {
            "type": "resource"
        }
    }
}
