{
    "smithy": "2.0",
    "shapes": {
        "aws.iam#actionPermissionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#documentation": "A brief description of what granting the user permission to invoke an operation would entail. This description should begin with something similar to 'Enables the user to...' or 'Grants permission to...'"
            }
        },
        "aws.iam#defineConditionKeys": {
            "type": "map",
            "key": {
                "target": "aws.iam#IamIdentifier"
            },
            "value": {
                "target": "aws.iam#ConditionKeyDefinition"
            },
            "traits": {
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#documentation": "Defines the set of condition keys that appear within a service in addition to inferred and global condition keys."
            }
        },
        "aws.iam#conditionKeys": {
            "type": "list",
            "member": {
                "target": "aws.iam#IamIdentifier"
            },
            "traits": {
                "smithy.api#trait": {
                    "selector": ":test(resource, operation)"
                },
                "smithy.api#documentation": "Applies condition keys by name to a resource or operation."
            }
        },
        "aws.iam#disableConditionKeyInference": {
            "type": "structure",
            "traits": {
                "smithy.api#trait": {
                    "selector": "resource"
                },
                "smithy.api#documentation": "Disables the automatic inference of condition keys of a resource."
            }
        },
        "aws.iam#requiredActions": {
            "type": "list",
            "member": {
                "target": "aws.iam#IamIdentifier"
            },
            "traits": {
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#documentation": "Other actions that the invoker must be authorized to perform when executing the targeted operation."
            }
        },
        "aws.iam#supportedPrincipalTypes": {
            "type": "list",
            "member": {
                "target": "aws.iam#PrincipalType"
            },
            "traits": {
                "smithy.api#trait": {
                    "selector": ":test(service, operation)"
                },
                "smithy.api#documentation": "The principal types that can use the service or operation."
            }
        },
        "aws.iam#iamResource": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the resource in AWS IAM."
                    }
                }
            },
            "traits": {
                "smithy.api#trait": {
                    "selector": "resource"
                },
                "smithy.api#documentation": "Indicates properties of a Smithy resource in AWS IAM."
            }
        },
        "aws.iam#IamIdentifier": {
            "type": "string",
            "traits": {
                "smithy.api#private": {},
                "smithy.api#pattern": "^([A-Za-z0-9][A-Za-z0-9-\\.]{0,62}:[^:]+)$"
            }
        },
        "aws.iam#ConditionKeyDefinition": {
            "type": "structure",
            "members": {
                "documentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines documentation about the condition key."
                    }
                },
                "externalDocumentation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A valid URL that defines more information about the condition key."
                    }
                },
                "type": {
                    "target": "aws.iam#ConditionKeyType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#documentation": "A defined condition key to appear within a service in addition to inferred and global condition keys."
            }
        },
        "aws.iam#ConditionKeyType": {
            "type": "enum",
            "members": {
                "ARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARN"
                    }
                },
                "ARRAY_OF_ARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfARN"
                    }
                },
                "BINARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Binary"
                    }
                },
                "ARRAY_OF_BINARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfBinary"
                    }
                },
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "String"
                    }
                },
                "ARRAY_OF_STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfString"
                    }
                },
                "NUMERIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Numeric"
                    }
                },
                "DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Date"
                    }
                },
                "ARRAY_OF_DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfDate"
                    }
                },
                "BOOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Bool"
                    }
                },
                "ARRAY_OF_BOOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfBool"
                    }
                },
                "IP_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IPAddress"
                    }
                },
                "ARRAY_OF_IP_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ArrayOfIPAddress"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#documentation": "The IAM policy type of the value that will supplied for this context key"
            }
        },
        "aws.iam#PrincipalType": {
            "type": "enum",
            "members": {
                "ROOT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Root"
                    }
                },
                "IAM_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IAMUser"
                    }
                },
                "IAM_ROLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IAMRole"
                    }
                },
                "FEDERATED_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FederatedUser"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {},
                "smithy.api#documentation": "An IAM policy principal type."
            }
        }
    }
}
