{
  "smithy": "1.0",
  "aws.apigateway": {
    "traitDefs": {
      "apiKeySource": {
        "selector": "service",
        "shape": "smithy.api#String",
        "documentation": "Specifies the source of the caller identifier that will be used to throttle API methods that require a key.",
        "externalDocumentation": "https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions-api-key-source.html",
        "tags": ["internal"]
      },
      "authorizers": {
        "selector": "service",
        "shape": "aws.apigateway#Authorizers",
        "documentation": "Lambda authorizers to attach to the authentication schemes defined on this service.",
        "tags": ["internal"]
      },
      "requestValidator": {
        "selector": ":test(service, operation)",
        "shape": "smithy.api#String",
        "documentation": "Selects which request validation strategy to use. One of: 'full', 'params-only', 'body-only'",
        "tags": ["internal"]
      },
      "integration": {
        "selector": ":test(service, resource, operation)",
        "shape": "IntegrationTrait",
        "documentation": "Defines an API Gateway integration.",
        "tags": ["internal"],
        "conflicts": ["aws.apigateway#mockIntegration"]
      },
      "mockIntegration": {
        "selector": ":test(service, resource, operation)",
        "shape": "MockIntegrationTrait",
        "documentation": "Defines an API Gateway mock integration.",
        "tags": ["internal"],
        "conflicts": ["aws.apigateway#integration"]
      }
    },
    "shapes": {
      "Authorizers": {
        "type": "map",
        "private": true,
        "documentation": "A list of API Gateway authorizers to augment the service's declared authentication mechanisms.",
        "key": {"target": "smithy.api#String"},
        "value": {"target": "aws.apigateway#Authorizer"}
      },
      "Authorizer": {
        "type": "structure",
        "private": true,
        "documentation": "An object that associates an authorizer and associated metadata with an authentication mechanism.",
        "members": {
          "clientType": {
            "target": "smithy.api#String",
            "documentation": "The client authentication type. A value identifying the category of authorizer, such as \"oauth2\" or \"awsSigv4\"."
          },
          "type": {
            "target": "smithy.api#String",
            "required": true,
            "documentation": "The type of the authorizer. This is a required property and the value must be \"token\", for an authorizer with the caller identity embedded in an authorization token, or \"request\", for an authorizer with the caller identity contained in request parameters."
          },
          "uri": {
            "target": "smithy.api#String",
            "required": true,
            "documentation": "The Uniform Resource Identifier (URI) of the authorizer Lambda function"
          },
          "credentials": {
            "target": "smithy.api#String",
            "documentation": "Credentials required for invoking the authorizer"
          },
          "identitySource": {
            "target": "smithy.api#String",
            "documentation": "Comma-separated list of mapping expressions of the request parameters as the identity source. Applicable for the authorizer of the \"request\" type only."
          },
          "identityValidationExpression": {
            "target": "smithy.api#String",
            "documentation": "A regular expression for validating the token as the incoming identity"
          },
          "resultTtlInSeconds": {
            "target": "smithy.api#Integer",
            "documentation": "The number of seconds for which the resulting IAM policy is cached."
          }
        }
      },
      "IntegrationTrait": {
        "type": "structure",
        "members": {
          "type": {
            "target": "IntegrationType",
            "required": true
          },
          "uri": {
            "target": "Arn",
            "required": true
          },
          "credentials": {
            "target": "IamRoleArn"
          },
          "httpMethod": {
            "target": "smithy.api#String",
            "required": true
          },
          "passThroughBehavior": {
            "target": "PassThroughBehavior"
          },
          "contentHandling": {
            "target": "ContentHandling"
          },
          "timeoutInMillis": {
            "target": "smithy.api#Integer"
          },
          "connectionId": {
            "target": "String"
          },
          "connectionType": {
            "target": "ConnectionType"
          },
          "cacheNamespace": {
            "target": "smithy.api#String"
          },
          "cacheKeyParameters": {
            "target": "StringList"
          },
          "requestParameters": {
            "target": "RequestParameters"
          },
          "requestTemplates": {
            "target": "Templates"
          },
          "responses": {
            "target": "Responses"
          }
        },
        "private": true
      },
      "IntegrationType": {
        "type": "string",
        "enum": {
          "aws": {"name":  "AWS"},
          "aws_proxy": {"name":  "AWS_PROXY"},
          "http": {"name":  "HTTP"},
          "http_proxy": {"name":  "HTTP_PROXY"}
        }
      },
      "MockIntegrationTrait": {
        "type": "structure",
        "members": {
          "passThroughBehavior": {
            "target": "PassThroughBehavior"
          },
          "requestParameters": {
            "target": "RequestParameters"
          },
          "requestTemplates": {
            "target": "Templates"
          },
          "responses": {
            "target": "Responses"
          }
        },
        "private": true
      },
      "IamRoleArn": {
        "type": "string",
        "documentation": "<p>The ARN of the IAM role to assume with invoking the integration.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
        "aws.api#arnReference": {
          "type": "AWS::IAM::Role"
        },
        "private": true
      },
      "LambdaFunctionArn": {
        "type": "string",
        "documentation": "<p>The ARN of the Lambda function to invoke via a LambdaIntegration.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
        "aws.api#arnReference": {
          "type": "AWS::Lambda::Function"
        },
        "private": true
      },
      "Arn": {
        "type": "string",
        "documentation": "<p>The ARN of an AWS integration target.</p><p>This string MAY contain the literal string <code>{serviceName}</code> and/or the literal string <code>{operationName}</code>, which will be replaced with the name of the Smithy service shape and the name of the Smithy operation shape, respectively.</p>",
        "aws.api#arnReference": {},
        "private": true
      },
      "RequestParameters": {
        "type": "map",
        "documentation": "<p>A mapping of integration request parameters to the API Gateway data mapping expression that should be used to populate the parameter.</p> <p><strong>Note:</strong> This feature is provided primarily to allow injecting static values and context variables for request parameters. Request data MAY be mapped to headers using the syntax described in <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/request-response-data-mappings.html#mapping-response-parameters\">the API Gateway Developer Guide</a>; however, the data must be identified according to its location in the serialized request, which may differ from protocol to protocol. Here be dragons!</p>",
        "key": {"target": "smithy.api#String"},
        "value": {"target": "smithy.api#String"},
        "private": true
      },
      "Templates": {
        "type": "map",
        "documentation": "<p>A map of MIME types to velocity templates allowing you to craft a new integration message from received data.</p><p><strong>Note:</strong> This feature is provided primarily to allow injecting static values and context variables for request parameters. Request data MAY be mapped to headers using the syntax described in <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/request-response-data-mappings.html#mapping-response-parameters\">the API Gateway Developer Guide</a>; however, the data must be identified according to its location in the serialized request, which may differ from protocol to protocol. Here be dragons!</p>",
        "key": {"target": "smithy.api#String"},
        "value": {"target": "smithy.api#String"},
        "private": true
      },
      "ConnectionType": {
        "type": "string",
        "private": true,
        "enum": {
          "INTERNET": {},
          "VPC_LINK": {}
        }
      },
      "PassThroughBehavior": {
        "type": "string",
        "documentation": "Defines the passThroughBehavior for the integration",
        "enum": {
          "when_no_templates": {"name": "WHEN_NO_TEMPLATES"},
          "when_no_match": {"name": "WHEN_NO_MATCH"},
          "never": {"name": "NEVER"}
        },
        "private": true
      },
      "ContentHandling": {
        "type": "string",
        "documentation": "Defines the contentHandling for the integration",
        "enum": {
          "CONVERT_TO_TEXT": {"name": "CONVERT_TO_TEXT"},
          "CONVERT_TO_BINARY": {"name": "CONVERT_TO_BINARY"}
        },
        "private": true
      },
      "StringList": {
        "type": "list",
        "member": {"target": "smithy.api#String"}
      },
      "Responses": {
        "type": "map",
        "documentation": "A map of response identifiers to responses.",
        "key": {"target": "smithy.api#String"},
        "value": {"target": "Response"},
        "private": true
      },
      "Response": {
        "type": "structure",
        "documentation": "Defines a response and specifies parameter mappings.",
        "members": {
          "statusCode": {"target": "smithy.api#String"},
          "contentHandling": {"target": "ContentHandling"},
          "responseTemplates": {"target": "Templates"},
          "responseParameters": {"target": "ResponseParameters"}
        },
        "private": true
      },
      "ResponseParameters": {
        "type": "map",
        "documentation": "Specifies parameter mappings for the response. Only the header and body parameters of the integration response can be mapped to the header parameters of the method.",
        "key": {"target": "smithy.api#String"},
        "value": {"target": "smithy.api#String"},
        "private": true
      }
    }
  }
}
