{
  "smithy": "0.2.0",
  "example.smithy": {
    "shapes": {
      "MyService": {
        "type": "service",
        "version": "2006-03-01",
        "protocols": [{"name": "aws.rest-json-1.1", "auth": ["aws.v4", "http-basic"]}],
        "cors": {
          "origin": "https://www.example.com",
          "maxAge": 86400,
          "additionalAllowedHeaders": [
            "X-Service-Input-Metadata"
          ],
          "additionalExposedHeaders": [
            "X-Service-Output-Metadata"
          ]
        },
        "resources": [
          "Payload"
        ],
        "aws.apigateway#integration": {
          "type": "aws_proxy",
          "credentials": "arn:aws:iam::123456789012:role/{serviceName}{operationName}LambdaRole",
          "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:123456789012:function:{serviceName}{operationName}/invocations",
          "httpMethod": "POST"
        }
      },
      "Payload": {
        "type": "resource",
        "identifiers": {
          "id": "smithy.api#String"
        },
        "create": "PutPayload",
        "read": "GetPayload",
        "delete": "DeletePayload",
        "list": "ListPayloads"
      },
      "PutPayload": {
        "type": "operation",
        "idempotent": true,
        "input": "PutPayloadInput",
        "http": {
          "uri": "/payload/{id}",
          "method": "PUT",
          "code": 201
        }
      },
      "GetPayload": {
        "type": "operation",
        "readonly": true,
        "input": "GetPayloadInput",
        "output": "GetPayloadOutput",
        "http": {
          "uri": "/payload/{id}",
          "method": "GET"
        }
      },
      "DeletePayload": {
        "type": "operation",
        "idempotent": true,
        "input": "DeletePayloadInput",
        "http": {
          "uri": "/payload/{id}",
          "method": "DELETE",
          "code": 204
        }
      },
      "ListPayloads": {
        "type": "operation",
        "readonly": true,
        "collection": true,
        "output": "ListPayloadsOutput",
        "http": {
          "uri": "/payload",
          "method": "GET"
        }
      },
      "PutPayloadInput": {
        "type": "structure",
        "members": {
          "id": {
            "target": "smithy.api#String",
            "required": true,
            "httpLabel": true
          },
          "header": {
            "target": "smithy.api#String",
            "httpHeader": "X-Foo-Header"
          },
          "query": {
            "target": "smithy.api#Integer",
            "httpQuery": "query"
          },
          "enum": {
            "target": "EnumString",
            "httpHeader": "X-EnumString"
          },
          "body": {
            "target": "smithy.api#Blob",
            "httpPayload": true
          }
        }
      },
      "GetPayloadInput": {
        "type": "structure",
        "members": {
          "id": {
            "target": "smithy.api#String",
            "httpLabel": true,
            "required": true
          }
        }
      },
      "GetPayloadOutput": {
        "type": "structure",
        "members": {
          "header": {
            "target": "smithy.api#String",
            "httpHeader": "X-Foo-Header"
          },
          "body": {
            "target": "smithy.api#Blob",
            "httpPayload": true
          }
        }
      },
      "DeletePayloadInput": {
        "type": "structure",
        "members": {
          "id": {
            "target": "smithy.api#String",
            "httpLabel": true,
            "required": true
          }
        }
      },
      "ListPayloadsOutput": {
        "type": "structure",
        "members": {
          "items": {
            "target": "PayloadDescriptions"
          }
        }
      },
      "EnumString": {
        "type": "string",
        "enum": {
          "a": {
            "name": "A"
          },
          "c": {
            "name": "C"
          }
        }
      },
      "PayloadDescriptions": {
        "type": "list",
        "member": {
          "target": "PayloadDescription"
        }
      },
      "PayloadDescription": {
        "type": "structure",
        "members": {
          "id": {
            "target": "smithy.api#String",
            "required": true
          },
          "createdAt": {
            "target": "smithy.api#Timestamp",
            "required": true
          }
        }
      }
    }
  }
}
