{
    "smithy": "2.0",
    "shapes": {
        "smithy.example#Service": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.example#Operation1"
                },
                {
                    "target": "smithy.example#Operation2"
                },
                {
                    "target": "smithy.example#Operation3"
                }
            ],
            "traits": {
                "smithy.api#tags": [
                    "foo"
                ],
                "aws.protocols#restJson1": {}
            }
        },
        "smithy.example#Operation1": {
            "type": "operation",
            "traits": {
                "smithy.api#tags": [
                    "bar",
                    "baz",
                    "foo",
                    "qux"
                ],
                "smithy.api#http": {
                    "uri": "/operation1",
                    "method": "GET"
                }
            }
        },
        "smithy.example#Operation2": {
            "type": "operation",
            "traits": {
                "smithy.api#tags": [
                    "qux"
                ],
                "smithy.api#http": {
                    "uri": "/operation2",
                    "method": "GET"
                }
            }
        },
        "smithy.example#Operation3": {
            "type": "operation",
            "traits": {
                "smithy.api#http": {
                    "uri": "/operation3",
                    "method": "GET"
                }
            }
        }
    }
}
