{
    "smithy": "2.0",
    "shapes": {
        "example.rest#RestService": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "example.rest#CreateDocument"
                },
                {
                    "target": "example.rest#PutPayload"
                },
                {
                    "target": "example.rest#CreateFoo"
                },
                {
                    "target": "example.rest#Ping"
                }

            ],
            "traits": {
                "aws.protocols#restJson1": {}
            }
        },
        "example.rest#PutPayload": {
            "type": "operation",
            "input": {
                "target": "example.rest#PutPayloadInput"
            },
            "output": {
                "target": "example.rest#PutPayloadOutput"
            },
            "errors": [
                {
                    "target": "example.rest#PayloadNotFound"
                }
            ],
            "traits": {
                "smithy.api#idempotent": {},
                "smithy.api#deprecated": {},
                "smithy.api#http": {
                    "uri": "/payload/{path}",
                    "method": "PUT"
                }
            }
        },
        "example.rest#PutPayloadInput": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "example.rest#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "header": {
                    "target": "example.rest#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo-Header"
                    }
                },
                "query": {
                    "target": "example.rest#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "query"
                    }
                },
                "timeQuery": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#httpQuery": "timeQuery"
                    }
                },
                "enum": {
                    "target": "example.rest#EnumString",
                    "traits": {
                        "smithy.api#httpHeader": "X-EnumString"
                    }
                },
                "body": {
                    "target": "example.rest#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "example.rest#PutPayloadOutput": {
            "type": "structure",
            "members": {
                "header": {
                    "target": "example.rest#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo-Header"
                    }
                },
                "body": {
                    "target": "example.rest#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "example.rest#PayloadNotFound": {
            "type": "structure",
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "example.rest#CreateDocument": {
            "type": "operation",
            "input": {
                "target": "example.rest#CreateDocumentInput"
            },
            "output": {
                "target": "example.rest#CreateDocumentOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/document",
                    "method": "POST"
                }
            }
        },
        "example.rest#CreateDocumentInput": {
            "type": "structure",
            "members": {
                "query": {
                    "target": "example.rest#QueryList",
                    "traits": {
                        "smithy.api#httpQuery": "query"
                    }
                },
                "abc": {
                    "target": "example.rest#SensitiveString",
                    "traits": {
                        "smithy.api#length": {
                            "min": 1,
                            "max": 100
                        }
                    }
                },
                "def": {
                    "target": "example.rest#Integer"
                },
                "hij": {
                    "target": "example.rest#Map"
                },
                "stringDateTime": {
                    "target": "example.rest#StringDateTime"
                },
                "required": {
                    "target": "example.rest#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "queryParams": {
                    "target": "example.rest#QueryMap",
                    "traits": {
                        "smithy.api#httpQueryParams": {}
                    }
                }
            }
        },
        "example.rest#CreateDocumentOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "example.rest#String"
                },
                "baz": {
                    "target": "example.rest#String"
                },
                "list": {
                    "target": "example.rest#List"
                },
                "time": {
                    "target": "example.rest#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "taggedUnion": {
                    "target": "example.rest#TaggedUnion"
                }
            }
        },
        "example.rest#CreateFoo": {
            "type": "operation",
            "input": {
                "target": "example.rest#CreateFooInput"
            },
            "output": {
                "target": "example.rest#CreateFooOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/foo",
                    "method": "POST"
                }
            }
        },
        "example.rest#CreateFooInput": {
            "type": "structure",
            "members": {
                "queryParams": {
                    "target": "example.rest#QueryStringListMap",
                    "traits": {
                        "smithy.api#httpQueryParams": {}
                    }
                },
                "foo": {
                    "target": "example.rest#String"
                }
            }
        },
        "example.rest#CreateFooOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "example.rest#String"
                }
            }

        },
        "example.rest#Ping": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/ping",
                    "method": "POST"
                }
            }
        },
        "example.rest#Blob": {
            "type": "blob"
        },
        "example.rest#String": {
            "type": "string"
        },
        "example.rest#StringList": {
            "type": "list",
            "member": {
                "target": "example.rest#String"
            }
        },
        "example.rest#SensitiveString": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "example.rest#Integer": {
            "type": "integer"
        },
        "example.rest#Map": {
            "type": "map",
            "key": {
                "target": "example.rest#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 2,
                        "max": 10
                    }
                }
            },
            "value": {
                "target": "example.rest#SensitiveString",
                "traits": {
                    "smithy.api#pattern": "^[a-z]+$"
                }
            }
        },
        "example.rest#List": {
            "type": "list",
            "member": {
                "target": "example.rest#String"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "example.rest#QueryList": {
            "type": "list",
            "member": {
                "target": "example.rest#String",
                "traits": {
                    "smithy.api#documentation": "Query list member reference docs!"
                }
            },
            "traits": {
                "smithy.api#documentation": "Query list docs!",
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "example.rest#QueryMap": {
            "type": "map",
            "key": {
                "target": "example.rest#String"
            },
            "value": {
                "target": "example.rest#String"
            }
        },
        "example.rest#QueryStringListMap": {
            "type": "map",
            "key": {
                "target": "example.rest#String"
            },
            "value": {
                "target": "example.rest#StringList"
            }
        },
        "example.rest#Timestamp": {
            "type": "timestamp"
        },
        "example.rest#StringDateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "example.rest#EnumString": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {"value": "a", "name": "A"},
                    {"value": "c", "name": "C"}
                ]
            }
        },
        "example.rest#TaggedUnion": {
            "type": "union",
            "members": {
                "a": {
                    "target": "example.rest#String"
                },
                "b": {
                    "target": "example.rest#String"
                },
                "c": {
                    "target": "smithy.api#Unit"
                }
            }
        }
    }
}
