{
    "smithy": "2.0",
    "shapes": {
        "smithy.example#MixedList": {
            "type": "list",
            "mixins": [
                {
                    "target": "smithy.example#MixinList"
                }
            ]
        },
        "smithy.example#MixedListWithTraits": {
            "type": "list",
            "mixins": [
                {
                    "target": "smithy.example#MixinList"
                }
            ]
        },
        "smithy.example#MixedListWithTraits$member": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#ResourceList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "smithy.example#MixedResourceList": {
            "type": "list",
            "mixins": [
                {
                    "target": "smithy.example#MixinList"
                }
            ]
        },
        "smithy.example#MixedResourceListWithTrait": {
            "type": "list",
            "mixins": [
                {
                    "target": "smithy.example#MixinList"
                }
            ]
        },
        "smithy.example#MixedResourceListWithTrait$member": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedMap": {
            "type": "map",
            "mixins": [
                {
                    "target": "smithy.example#MixinMap"
                }
            ]
        },
        "smithy.example#MixedMapWithTraits": {
            "type": "map",
            "mixins": [
                {
                    "target": "smithy.example#MixinMap"
                }
            ]
        },
        "smithy.example#MixedMapWithTraits$key": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedMapWithTraits$value": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#ResourceMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "smithy.example#MixedResourceMap": {
            "type": "map",
            "mixins": [
                {
                    "target": "smithy.example#MixinMap"
                }
            ]
        },
        "smithy.example#MixedResourceMapWithTraits": {
            "type": "map",
            "mixins": [
                {
                    "target": "smithy.example#MixinMap"
                }
            ]
        },
        "smithy.example#MixedResourceMapWithTraits$key": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedResourceMapWithTraits$value": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedResourceStructure": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinStructure"
                }
            ],
            "members": {
                "id": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MixedResourceStructureWithTraits": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinStructure"
                }
            ],
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#pattern": ".*"
                    }
                }
            }
        },
        "smithy.example#MixedResourceStructureWithTraits$foo": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedResourceWithPropertiesStructure": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinStructure"
                }
            ],
            "members": {
                "id": {
                    "target": "smithy.api#String"
                },
                "property": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MixedStructure": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinStructure"
                }
            ],
            "members": {}
        },
        "smithy.example#MixedStructureWhereMixinDefinesIdentifier": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinThatDefinesIdentifier"
                }
            ],
            "members": {}
        },
        "smithy.example#MixedStructureWhereMixinDefinesIdentifier$id": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedStructureWithTraits": {
            "type": "structure",
            "mixins": [
                {
                    "target": "smithy.example#MixinStructure"
                }
            ],
            "members": {}
        },
        "smithy.example#MixedStructureWithTraits$foo": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedUnion": {
            "type": "union",
            "mixins": [
                {
                    "target": "smithy.example#MixinUnion"
                }
            ],
            "members": {}
        },
        "smithy.example#MixedUnionWithTraits": {
            "type": "union",
            "mixins": [
                {
                    "target": "smithy.example#MixinUnion"
                }
            ],
            "members": {}
        },
        "smithy.example#MixedUnionWithTraits$singleton": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#ResourceUnion": {
            "type": "union",
            "members": {
                "id": {
                    "target": "smithy.api#String"
                },
                "property": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MixedResourceUnion": {
            "type": "union",
            "mixins": [
                {
                    "target": "smithy.example#MixinUnion"
                }
            ],
            "members": {
                "id": {
                    "target": "smithy.api#String"
                },
                "property": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MixedResourceUnionWithTraits": {
            "type": "union",
            "mixins": [
                {
                    "target": "smithy.example#MixinUnion"
                }
            ],
            "members": {
                "id": {
                    "target": "smithy.api#String"
                },
                "property": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MixedResourceUnionWithTraits$id": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedResourceUnionWithTraits$property": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixedResourceUnionWithTraits$singleton": {
            "type": "apply",
            "traits": {
                "smithy.api#pattern": ".*"
            }
        },
        "smithy.example#MixinList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.example#MixinMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.example#MixinStructure": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.example#MixinThatDefinesIdentifier": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.example#MixinUnion": {
            "type": "union",
            "members": {
                "singleton": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#mixin": {}
            }
        },
        "smithy.example#MyResource": {
            "type": "resource",
            "identifiers": {
                "id": {
                    "target": "smithy.api#String"
                },
                "key": {
                    "target": "smithy.api#String"
                }
            },
            "properties": {
                "property": {
                    "target": "smithy.api#String"
                },
                "member": {
                    "target": "smithy.api#String"
                },
                "value": {
                    "target": "smithy.api#String"
                }
            },
            "operations": [
                {
                    "target": "smithy.example#ThrowAway"
                }
            ]
        },
        "smithy.example#MyResourceIdentifiers": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String"
                }
            }
        },
        "smithy.example#MyResourceIdentifiersWithTraits": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#pattern": ".*"
                    }
                }
            }
        },
        "smithy.example#ThrowAway": {
            "type": "operation",
            "input": {
                "target": "smithy.example#ThrowAwayInput"
            },
            "output": {
                "target": "smithy.example#ThrowAwayOutput"
            },
            "traits": {
                "smithy.api#documentation": "Operation needed to utilize property for validity"
            }
        },
        "smithy.example#ThrowAwayInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "property": {
                    "target": "smithy.api#String"
                },
                "member": {
                    "target": "smithy.api#String"
                },
                "value": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.example#ThrowAwayOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        }
    }
}
