{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#MyService": {
            "type": "service",
            "version": "2017-01-17",
            "operations": [
                {
                    "target": "ns.foo#ServiceOperationNoInputOutput"
                },
                {
                    "target": "ns.foo#ServiceOperationExplicitUriMethodAndCode"
                },
                {
                    "target": "ns.foo#ServiceOperationExplicitMembers"
                },
                {
                    "target": "ns.foo#ServiceOperationExplicitBody"
                },
                {
                    "target": "ns.foo#WithLabels"
                },
                {
                    "target": "ns.foo#ServiceOperationWithEventStream"
                },
                {
                    "target": "ns.foo#OperationWithBoundResponseCode"
                }
            ]
        },
        "ns.foo#OperationWithBoundResponseCode": {
            "type": "operation",
            "output": {
                "target": "ns.foo#StructureWithBoundResponseCode"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/OperationWithBoundResponseCode",
                    "method": "PUT"
                }
            }
        },
        "ns.foo#StructureWithBoundResponseCode": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpResponseCode": {}
                    }
                }
            }
        },
        "ns.foo#ServiceOperationNoInputOutput": {
            "type": "operation",
            "traits": {
                "smithy.api#http": {
                    "uri": "/ServiceOperationNoInputOutput",
                    "method": "PATCH"
                }
            }
        },
        "ns.foo#ServiceOperationExplicitUriMethodAndCode": {
            "type": "operation",
            "traits": {
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/someMethod",
                    "code": 204
                }
            }
        },
        "ns.foo#ServiceOperationExplicitMembers": {
            "type": "operation",
            "input": {
                "target": "ns.foo#ServiceOperationExplicitMembersInput"
            },
            "output": {
                "target": "ns.foo#ServiceOperationExplicitMembersOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/explicitMembersA",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationExplicitMembersInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "baz": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpQuery": "baz"
                    }
                },
                "bar": {
                    "target": "ns.foo#StringList",
                    "traits": {
                        "smithy.api#httpQuery": "bar"
                    }
                },
                "corge": {
                    "target": "ns.foo#StringMap",
                    "traits": {
                        "smithy.api#httpQueryParams": {}
                    }
                },
                "bam": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                },
                "qux": {
                    "target": "ns.foo#StringMap",
                    "traits": {
                        "smithy.api#httpPrefixHeaders": "X-Prefix-"
                    }
                }
            }
        },
        "ns.foo#ServiceOperationExplicitMembersOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "qux": {
                    "target": "ns.foo#StringMap",
                    "traits": {
                        "smithy.api#httpPrefixHeaders": "X-Prefix-"
                    }
                },
                "baz": {
                    "target": "ns.foo#String"
                },
                "bar": {
                    "target": "ns.foo#String"
                },
                "bam": {
                    "target": "ns.foo#String"
                }
            }
        },
        "ns.foo#ServiceOperationExplicitBody": {
            "type": "operation",
            "output": {
                "target": "ns.foo#ServiceOperationExplicitBodyOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/explicitMembersB",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationExplicitBodyOutput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpHeader": "X-Foo"
                    }
                },
                "qux": {
                    "target": "ns.foo#StringMap",
                    "traits": {
                        "smithy.api#httpPrefixHeaders": "X-Prefix-"
                    }
                },
                "baz": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "ns.foo#ServiceOperationWithStructurePayload": {
            "type": "operation",
            "output": {
                "target": "ns.foo#ServiceOperationWithStructurePayloadOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/ServiceOperationWithStructurePayload",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationWithStructurePayloadOutput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "ns.foo#StructurePayload",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "ns.foo#ServiceOperationWithMediaType": {
            "type": "operation",
            "output": {
                "target": "ns.foo#ServiceOperationWithMediaTypeOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/ServiceOperationWithMediaType",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationWithMediaTypeOutput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "ns.foo#XmlBlob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "ns.foo#ServiceOperationWithBlobPayload": {
            "type": "operation",
            "output": {
                "target": "ns.foo#ServiceOperationWithBlobPayloadOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/ServiceOperationWithMediaType",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationWithBlobPayloadOutput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "ns.foo#XmlBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#mediaType": "application/xml"
            }
        },
        "ns.foo#StructurePayload": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String"
                }
            }
        },
        "ns.foo#WithLabels": {
            "type": "operation",
            "input": {
                "target": "ns.foo#WithLabelsInput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/foo/{baz}",
                    "method": "POST"
                }
            }
        },
        "ns.foo#WithLabelsInput": {
            "type": "structure",
            "members": {
                "baz": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#ErrorExplicitStatus": {
            "type": "structure",
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "ns.foo#String": {
            "type": "string"
        },
        "ns.foo#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "ns.foo#StringMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "ns.foo#ServiceOperationWithEventStream": {
            "type": "operation",
            "output": {
                "target": "ns.foo#ServiceOperationWithEventStreamOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "uri": "/ServiceOperationWithEventStream",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "ns.foo#ServiceOperationWithEventStreamOutput": {
            "type": "structure",
            "members": {
                "events": {
                    "target": "ns.foo#EventStream",
                    "traits": {
                        "smithy.api#httpPayload": {}
                    }
                }
            }
        },
        "ns.foo#EventStream": {
            "type": "union",
            "members": {
                "singleton": {
                    "target": "ns.foo#Event"
                }
            },
            "traits": {
                "smithy.api#streaming": {}
            }
        },
        "ns.foo#Event": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "smithy.api#String"
                }
            }
        }
    }
}
