{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#Operation": {
            "type": "operation",
            "input": {
                "target": "ns.foo#OperationInput"
            },
            "output": {
                "target": "ns.foo#OperationOutput"
            },
            "errors": [
                {
                    "target": "ns.foo#OperationError"
                }
            ],
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#examples": [
                    {
                        "title": "Testing 1",
                        "input": {
                            "foo": "value1"
                        },
                        "error": {
                            "shapeId": "ns.foo#OperationError",
                            "content": {
                                "bat": "baz",
                                "extra": "field"
                            }
                        }
                    },
                    {
                        "title": "Testing 2",
                        "input": {
                            "baz": "baz"
                        },
                        "output": {
                            "additional": "value"
                        }
                    },
                    {
                        "title": "Testing 3",
                        "input": {
                            "foo": "value1"
                        },
                        "output": {
                            "bam": "value2"
                        },
                        "error": {
                            "shapeId": "ns.foo#OperationError",
                            "content": {
                                "bat": "baz"
                            }
                        }
                    },
                    {
                        "title": "Testing 4",
                        "input": {
                            "foo": "baz"
                        },
                        "output": {
                            "bam": "value3"
                        },
                        "allowConstraintErrors": true
                    },
                    {
                        "title": "Testing 5",
                        "input": {
                            "blobMin": "a",
                            "blobMax": "abcdef",
                            "mapMin": {
                                "a": "b"
                            },
                            "mapMax": {
                                "a": "b",
                                "b": "c"
                            },
                            "pattern": "123",
                            "rangeMin": 1,
                            "rangeMax": 10,
                            "rangeNaN": "NaN",
                            "rangeNegativeInfinity": "-Infinity",
                            "rangePositiveInfinity": "Infinity",
                            "stringMin": "a",
                            "stringMax": "abcdef"
                        },
                        "error": {
                            "shapeId": "ns.foo#OperationError",
                            "content": {
                                "bat": "baz"
                            }
                        },
                        "allowConstraintErrors": true
                    }
                ]
            }
        },
        "ns.foo#OperationError": {
            "type": "structure",
            "members": {
                "bat": {
                    "target": "ns.foo#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "ns.foo#OperationInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "baz": {
                    "target": "ns.foo#String"
                },
                "blobMin": {
                    "target": "ns.foo#Blob",
                    "traits": {
                        "smithy.api#length": {
                            "min": 3
                        }
                    }
                },
                "blobMax": {
                    "target": "ns.foo#Blob",
                    "traits": {
                        "smithy.api#length": {
                            "max": 3
                        }
                    }
                },
                "mapMin": {
                    "target": "ns.foo#Map",
                    "traits": {
                        "smithy.api#length": {
                            "min": 3
                        }
                    }
                },
                "mapMax": {
                    "target": "ns.foo#Map",
                    "traits": {
                        "smithy.api#length": {
                            "max": 1
                        }
                    }
                },
                "pattern": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#pattern": "^[a-z]$"
                    }
                },
                "rangeMin": {
                    "target": "ns.foo#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 2
                        }
                    }
                },
                "rangeMax": {
                    "target": "ns.foo#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "max": 8
                        }
                    }
                },
                "rangeNaN": {
                    "target": "ns.foo#Float",
                    "traits": {
                        "smithy.api#range": {
                            "min": 1,
                            "max": 2
                        }
                    }
                },
                "rangeNegativeInfinity": {
                    "target": "ns.foo#Float",
                    "traits": {
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                },
                "rangePositiveInfinity": {
                    "target": "ns.foo#Float",
                    "traits": {
                        "smithy.api#range": {
                            "max": 2
                        }
                    }
                },
                "stringMin": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 3
                        }
                    }
                },
                "stringMax": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#length": {
                            "max": 3
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "ns.foo#OperationOutput": {
            "type": "structure",
            "members": {
                "bam": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "ns.foo#Operation2": {
            "type": "operation",
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#examples": [
                    {
                        "title": "Testing 4",
                        "input": {
                            "foo": "baz"
                        },
                        "output": {
                            "bam": "baz"
                        }
                    },
                    {
                        "title": "Testing 5",
                        "error": {
                            "shapeId": "ns.foo#OperationError",
                            "content": {
                                "bat": "baz"
                            }
                        }
                    }
                ]
            }
        },
        "ns.foo#String": {
            "type": "string"
        },
        "ns.foo#Blob": {
            "type": "blob"
        },
        "ns.foo#Map": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "ns.foo#Integer": {
            "type": "integer"
        },
        "ns.foo#Float": {
            "type": "float"
        }
    }
}
