{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#MyService": {
            "type": "service",
            "version": "2017-01-17",
            "operations": [
                {
                    "target": "ns.foo#A"
                },
                {
                    "target": "ns.foo#B"
                },
                {
                    "target": "ns.foo#C"
                },
                {
                    "target": "ns.foo#D"
                },
                {
                    "target": "ns.foo#E"
                },
                {
                    "target": "ns.foo#F"
                },
                {
                    "target": "ns.foo#G"
                },
                {
                    "target": "ns.foo#H"
                },
                {
                    "target": "ns.foo#J"
                },
                {
                    "target": "ns.foo#K"
                },
                {
                    "target": "ns.foo#L"
                },
                {
                    "target": "ns.foo#M"
                },
                {
                    "target": "ns.foo#LabelWithoutTrailingPeriod"
                }
            ]
        },
        "ns.foo#A": {
            "type": "operation",
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "A-{foo}."
                }
            }
        },
        "ns.foo#B": {
            "type": "operation",
            "input": {
                "target": "ns.foo#BInput"
            },
            "output": {
                "target": "ns.foo#BOutput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "B-{foo}."
                }
            }
        },
        "ns.foo#BInput": {
            "type": "structure"
        },
        "ns.foo#BOutput": {
            "type": "structure"
        },
        "ns.foo#C": {
            "type": "operation",
            "input": {
                "target": "ns.foo#CInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "C-{foo}."
                }
            }
        },
        "ns.foo#CInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#D": {
            "type": "operation",
            "input": {
                "target": "ns.foo#DInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "D-{foo}."
                }
            }
        },
        "ns.foo#DInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#E": {
            "type": "operation",
            "input": {
                "target": "ns.foo#EInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "E-{foo}."
                }
            }
        },
        "ns.foo#EInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#hostLabel": {}
                    }
                }
            }
        },
        "ns.foo#F": {
            "type": "operation",
            "input": {
                "target": "ns.foo#FInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "F-{foo}."
                }
            }
        },
        "ns.foo#FInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#Integer",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#G": {
            "type": "operation",
            "input": {
                "target": "ns.foo#GInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "G-{foo}-{bar}."
                }
            }
        },
        "ns.foo#GInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "bar": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#H": {
            "type": "operation",
            "input": {
                "target": "ns.foo#BInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "H.1234567890123456789012345678901234567890123456789012345678901234."
                }
            }
        },
        "ns.foo#J": {
            "type": "operation",
            "input": {
                "target": "ns.foo#BInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "1234567890123456789012345678901234567890123456789012345678901234.J."
                }
            }
        },
        "ns.foo#K": {
            "type": "operation",
            "input": {
                "target": "ns.foo#BInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "data.||+."
                }
            }
        },
        "ns.foo#L": {
            "type": "operation",
            "input": {
                "target": "ns.foo#BInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "L."
                }
            }
        },
        "ns.foo#M": {
            "type": "operation",
            "input": {
                "target": "ns.foo#MInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "M-{foo}."
                }
            }
        },
        "ns.foo#MInput": {
            "type": "structure",
            "members": {
                "foo": {
                    "target": "ns.foo#String",
                    "traits": {
                        "smithy.api#hostLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "ns.foo#LabelWithoutTrailingPeriod": {
            "type": "operation",
            "input": {
                "target": "ns.foo#MInput"
            },
            "traits": {
                "smithy.api#readonly": {},
                "smithy.api#endpoint": {
                    "hostPrefix": "{foo}"
                }
            }
        },
        "ns.foo#Integer": {
            "type": "integer"
        },
        "ns.foo#String": {
            "type": "string"
        }
    }
}
