{
    "smithy": "1.0",
    "ns.foo": {
        "shapes": {
            "MyService": {
                "type": "service",
                "version": "2017-01-17",
                "protocols": [{"name": "foo"}],
                "operations": [
                    "A",
                    "B",
                    "C",
                    "D",
                    "E",
                    "F",
                    "G",
                    "H",
                    "J",
                    "K",
                    "L",
                    "M",
                    "N",
                    "O",
                    "P",
                    "R"
                ]
            },
            "A": {
                "type": "operation",
                "readonly": true,
                "http": {
                    "method": "GET",
                    "uri": "/A/{foo}",
                    "code": 200
                }
            },
            "B": {
                "type": "operation",
                "readonly": true,
                "input": "BInput",
                "output": "BOutput",
                "http": {
                    "method": "GET",
                    "uri": "/b/{d}",
                    "code": 200
                }
            },
            "BInput": {
                "type": "structure"
            },
            "BOutput": {
                "type": "structure"
            },
            "C": {
                "type": "operation",
                "idempotent": true,
                "input": "CInput",
                "output": "COutput",
                "http": {
                    "method": "PUT",
                    "uri": "/c/{a}",
                    "code": 200
                }
            },
            "CInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpLabel": true,
                        "required": true
                    },
                    "b": {
                        "target": "String",
                        "httpHeader": "X-B"
                    },
                    "c": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-C-"
                    },
                    "d": {
                        "target": "String",
                        "httpQuery": "d"
                    },
                    "e": {
                        "target": "Blob",
                        "httpPayload": true
                    },
                    "otherHeader": {
                        "target": "String",
                        "httpHeader": "X-Bb"
                    },
                    "otherQuery": {
                        "target": "String",
                        "httpQuery": "otherQuery"
                    },
                    "headerList": {
                        "target": "StringList",
                        "httpHeader": "X-Plural"
                    },
                    "queryList": {
                        "target": "StringList",
                        "httpQuery": "queryList"
                    }
                }
            },
            "COutput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-B"
                    },
                    "b": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-B-"
                    },
                    "c": {
                        "target": "Blob",
                        "httpPayload": true
                    }
                }
            },
            "D": {
                "type": "operation",
                "readonly": true,
                "input": "DInput",
                "output": "DOutput",
                "http": {
                    "method": "GET",
                    "uri": "/d",
                    "code": 200
                }
            },
            "DInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    },
                    "b": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    },
                    "c": {
                        "target": "String",
                        "httpHeader": "X-Baz"
                    },
                    "d": {
                        "target": "String",
                        "httpHeader": "X-Baz"
                    },
                    "e": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-Foo"
                    }
                }
            },
            "DOutput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    },
                    "b": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    },
                    "c": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-Foo"
                    }
                }
            },
            "E": {
                "type": "operation",
                "readonly": true,
                "input": "EInput",
                "http": {
                    "method": "GET",
                    "uri": "/e/{label1}/{label2}"
                }
            },
            "EInput": {
                "type": "structure",
                "members": {
                    "label1": {
                        "target": "String",
                        "httpLabel": true,
                        "required": true
                    },
                    "label2": {
                        "target": "MapOfString",
                        "httpLabel": true,
                        "required": true
                    }
                }
            },
            "F": {
                "type": "operation",
                "idempotent": true,
                "input": "FInputOutput",
                "output": "FInputOutput",
                "http": {
                    "method": "PUT",
                    "uri": "/f",
                    "code": 204
                }
            },
            "FInputOutput": {
                "type": "structure",
                "members": {
                    "foo": {
                        "target": "String"
                    }
                }
            },
            "G": {
                "type": "operation",
                "readonly": true,
                "input": "GInput",
                "output": "GOutput",
                "http": {
                    "method": "GET",
                    "uri": "/g/{a}",
                    "code": 200
                }
            },
            "GInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-Foo",
                        "httpQuery": "a",
                        "httpPayload": true,
                        "httpLabel": true,
                        "required": true
                    },
                    "b": {
                        "target": "MapOfString",
                        "httpHeader": "Map-",
                        "httpPrefixHeaders": "X-C-"
                    }
                }
            },
            "GOutput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-B",
                        "httpPayload": true
                    },
                    "b": {
                        "target": "MapOfString",
                        "httpHeader": "Map-",
                        "httpPrefixHeaders": "X-B-"
                    }
                }
            },
            "H": {
                "type": "operation",
                "readonly": true,
                "input": "HInput",
                "http": {
                    "method": "GET",
                    "uri": "/g"
                }
            },
            "HInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "Structure",
                        "httpHeader": "X-Foo"
                    }
                }
            },
            "J": {
                "type": "operation",
                "readonly": true,
                "input": "JInput",
                "http": {
                    "method": "GET",
                    "uri": "/j"
                }
            },
            "JInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-Foo-"
                    },
                    "b": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": "X-Baz-"
                    }
                }
            },
            "K": {
                "type": "operation",
                "readonly": true,
                "input": "KInput",
                "http": {
                    "method": "GET",
                    "uri": "/k"
                }
            },
            "KInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    },
                    "b": {
                        "target": "String",
                        "httpHeader": "x-foo"
                    },
                    "c": {
                        "target": "String",
                        "httpQuery": "foo"
                    },
                    "d": {
                        "target": "String",
                        "httpQuery": "foo"
                    }
                }
            },
            "L": {
                "type": "operation",
                "readonly": true,
                "http": {
                    "method": "GET",
                    "uri": "/k"
                }
            },
            "M": {
                "type": "operation",
                "idempotent": true,
                "input": "MInput",
                "http": {
                    "method": "PUT",
                    "uri": "/m"
                }
            },
            "MInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpHeader": "Authorization"
                    }
                }
            },
            "N": {
                "type": "operation",
                "readonly": true,
                "input": "NInput",
                "http": {
                    "method": "GET",
                    "uri": "/n"
                }
            },
            "NInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpLabel": true,
                        "required": true
                    }
                }
            },
            "O": {
                "type": "operation",
                "readonly": true,
                "input": "OInput",
                "http": {
                    "method": "GET",
                    "uri": "/o/{a}"
                }
            },
            "OInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "String",
                        "httpLabel": true
                    }
                }
            },
            "P": {
                "type": "operation",
                "readonly": true,
                "input": "PInput",
                "http": {
                    "method": "GET",
                    "uri": "/p/{a+}"
                }
            },
            "PInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "Integer",
                        "httpLabel": true,
                        "required": true
                    }
                }
            },
            "Q": {
                "type": "operation",
                "readonly": true,
                "input": "QInput",
                "http": {
                    "method": "GET",
                    "uri": "/q"
                }
            },
            "QInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": ""
                    }
                }
            },
            "R": {
                "type": "operation",
                "readonly": true,
                "input": "RInput",
                "http": {
                    "method": "GET",
                    "uri": "/r"
                }
            },
            "RInput": {
                "type": "structure",
                "members": {
                    "a": {
                        "target": "MapOfString",
                        "httpPrefixHeaders": ""
                    },
                    "b": {
                        "target": "String",
                        "httpHeader": "X-Foo"
                    }
                }
            },
            "Integer": {
                "type": "integer"
            },
            "Blob": {
                "type": "blob"
            },
            "String": {
                "type": "string"
            },
            "StringList": {
                "type": "list",
                "member": {
                    "target": "String"
                }
            },
            "Structure": {
                "type": "structure"
            },
            "MapOfString": {
                "type": "map",
                "key": {
                    "target": "String"
                },
                "value": {
                    "target": "String"
                }
            },
            "BadError": {
                "type": "structure",
                "httpError": 404
            },
            "BadErrorMultipleBindings": {
                "type": "structure",
                "error": "client",
                "members": {
                    "foo": {
                        "target": "String",
                        "httpHeader": "X-Foo",
                        "httpPayload": true
                    }
                }
            }
        }
    }
}
