{
  "smithy": "1.0",
  "shapes": {
    "ns.foo#SomeService": {
      "type": "service",
      "version": "2018-03-17",
      "operations" : [
        {
          "target": "ns.foo#ValidOperation"
        },
        {
          "target": "ns.foo#ValidOperation2"
        },
        {
          "target": "ns.foo#ValidOperation3"
        },
        {
          "target": "ns.foo#ValidOperation4"
        },
        {
          "target": "ns.foo#ValidOperation5"
        },
        {
          "target": "ns.foo#ValidOperation6"
        },
        {
          "target": "ns.foo#InvalidOperation"
        },
        {
          "target": "ns.foo#InvalidOperation2"
        },
        {
          "target": "ns.foo#InvalidOperation3"
        },
        {
          "target": "ns.foo#InvalidOperation4"
        },
        {
          "target": "ns.foo#InvalidConflictingProperties"
        }
      ]
    },
    "ns.foo#ValidOperation": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"}
          ],
          "response": [
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"},
            { "algorithm": "sha1", "in": "header", "name": "mock-checksum-sha1"}
          ]
        }
      }
    },
    "ns.foo#ValidOperation2": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "trailer", "name": "mock-checksum-sha256"},
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"},
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"},
            { "algorithm": "sha1", "in": "header", "name": "mock-checksum-sha1"}
          ],
          "response": [
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"}
          ]
        }
      }
    },
    "ns.foo#ValidOperation3": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"},
            { "algorithm": "sha1", "in": "header", "name": "mock-checksum-sha1"}
          ]
        }
      }
    },
    "ns.foo#ValidOperation4": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "trailer", "name": "mock-checksum-sha256"}
          ]
        }
      }
    },
    "ns.foo#ValidOperation5": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response": [
            { "algorithm": "sha256", "in": "header", "name": "mock-checksum-sha256"}
          ]
        }
      }
    },
    "ns.foo#ValidOperation6": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response": [
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"}
          ]
        }
      }
    },
    "ns.foo#Input": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      }
    },
    "ns.foo#Output": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      }
    },
    "ns.foo#InvalidOperation": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidOperation2": {
      "type": "operation",
      "input": {
        "target": "ns.foo#ConflictingInputA"
      },
      "output": {
        "target": "ns.foo#ConflictingOutputA"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "header", "name": "conflicting-header-name"},
            { "algorithm": "sha1", "in": "header", "name": "conflicting-header-name"}
          ],
          "response": [
            { "algorithm": "sha256", "in": "header", "name": "conflicting-header-name"},
            { "algorithm": "sha1", "in": "header", "name": "conflicting-header-name"}
          ]
        }
      }
    },
    "ns.foo#InvalidOperation3": {
      "type": "operation",
      "input": {
        "target": "ns.foo#ConflictingInputB"
      },
      "output": {
        "target": "ns.foo#ConflictingOutputB"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha256", "in": "header", "name": "conflicting-prefix-sha256"},
            { "algorithm": "sha1", "in": "header", "name": "conflicting-prefix-sha1"}
          ],
          "response": [
            { "algorithm": "sha256", "in": "header", "name": "conflicting-prefix-sha256"},
            { "algorithm": "sha1", "in": "header", "name": "conflicting-prefix-sha1"}
          ]
        }
      }
    },
    "ns.foo#InvalidOperation4": {
      "type": "operation",
      "input": {
        "target": "ns.foo#InvalidInput"
      },
      "output": {
        "target": "ns.foo#InvalidOutput"
      },
      "errors": [
        {
          "target": "ns.foo#InvalidError"
        }
      ]
    },
    "ns.foo#InvalidConflictingProperties": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": [
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"},
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"}
          ],
          "response": [
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"},
            { "algorithm": "sha1", "in": "trailer", "name": "mock-checksum-sha1"}
          ]
        }
      }
    },
    "ns.foo#ConflictingInputA": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "a": {
          "target": "ns.foo#String",
          "traits": {
            "smithy.api#httpHeader": "conflicting-header-name"
          }
        }
      }
    },
    "ns.foo#ConflictingOutputA": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "a": {
          "target": "ns.foo#String",
          "traits": {
            "smithy.api#httpHeader": "conflicting-header-name"
          }
        }
      }
    },
    "ns.foo#ConflictingInputB": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "b": {
          "target": "ns.foo#MapOfString",
          "traits": {
            "smithy.api#httpPrefixHeaders": "conflicting-prefix-"
          }
        }
      }
    },
    "ns.foo#ConflictingOutputB": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "b": {
          "target": "ns.foo#MapOfString",
          "traits": {
            "smithy.api#httpPrefixHeaders": "conflicting-prefix-"
          }
        }
      }
    },
    "ns.foo#InvalidInput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidError": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#MapOfString": {
      "type": "map",
      "key": {
        "target": "ns.foo#String"
      },
      "value": {
        "target": "ns.foo#String"
      }
    },
    "ns.foo#String": {
      "type": "string"
    }
  }
}
