{
  "smithy": "1.0",
  "shapes": {
    "ns.foo#Blob": {
      "type": "blob"
    },
    "ns.foo#ValidOperation": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "mock-prefix-",
            "algorithms" : ["sha256"]
          },
          "response": {
            "prefix" : "mock-prefix-",
            "algorithms" : ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#ValidOperation2": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "mock-prefix-",
            "locations": ["trailer","header"],
            "algorithms" : ["sha256", "sha1"]
          },
          "response": {
            "prefix" : "mock-prefix-",
            "algorithms" : ["sha256"]
          }
        }
      }
    },
    "ns.foo#ValidOperation3": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix": "mock-prefix-",
            "locations": ["header"],
            "algorithms": [ "sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#ValidOperation4": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix": "mock-prefix-",
            "locations": ["trailer"],
            "algorithms": ["sha256"]
          }
        }
      }
    },
    "ns.foo#ValidOperation5": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response": {
            "prefix": "mock-prefix-",
            "locations": ["header"],
            "algorithms": ["sha256"]
          }
        }
      }
    },
    "ns.foo#ValidOperation6": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response": {
            "prefix": "mock-prefix-",
            "locations": ["trailer"],
            "algorithms": ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#Input": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      }
    },
    "ns.foo#Output": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      }
    },
    "ns.foo#InvalidOperation": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidOperation2": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "mock-prefix-",
            "locations" : ["trailer"],
            "algorithms" : []
          }
        }
      }
    },
    "ns.foo#InvalidOperation3": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response" : {
            "prefix" : "mock-prefix-",
            "locations" : ["header"],
            "algorithms" : []
          }
        }
      }
    },
    "ns.foo#InvalidOperation4": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "mock-prefix-",
            "locations" : [],
            "algorithms" : ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#InvalidOperation5": {
      "type": "operation",
      "input": {
        "target": "ns.foo#Input"
      },
      "output": {
        "target": "ns.foo#Output"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "response": {
            "prefix" : "mock-prefix-",
            "locations" : [],
            "algorithms" : ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#InvalidOperation6": {
      "type": "operation",
      "input": {
        "target": "ns.foo#ConflictingInputA"
      },
      "output": {
        "target": "ns.foo#ConflictingOutputA"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "conflicting-prefix-",
            "locations" : ["header"],
            "algorithms" : ["sha256", "sha1"]
          },
          "response": {
            "prefix" : "conflicting-prefix-",
            "locations" : ["header"],
            "algorithms" : ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#InvalidOperation7": {
      "type": "operation",
      "input": {
        "target": "ns.foo#ConflictingInputB"
      },
      "output": {
        "target": "ns.foo#ConflictingOutputB"
      },
      "traits": {
        "smithy.api#httpChecksum": {
          "request": {
            "prefix" : "conflicting-prefix-",
            "locations" : ["header"],
            "algorithms" : ["sha256", "sha1"]
          },
          "response": {
            "prefix" : "conflicting-prefix-",
            "locations" : ["header"],
            "algorithms" : ["sha256", "sha1"]
          }
        }
      }
    },
    "ns.foo#ConflictingInputA": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "a": {
          "target": "ns.foo#String",
          "traits": {
            "smithy.api#httpHeader": "conflicting-prefix-header"
          }
        }
      }
    },
    "ns.foo#ConflictingOutputA": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "a": {
          "target": "ns.foo#String",
          "traits": {
            "smithy.api#httpHeader": "conflicting-prefix-header"
          }
        }
      }
    },
    "ns.foo#ConflictingInputB": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "b": {
          "target": "ns.foo#MapOfString",
          "traits": {
            "smithy.api#httpPrefixHeaders": "conflicting-prefix-"
          }
        }
      }
    },
    "ns.foo#ConflictingOutputB": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        },
        "b": {
          "target": "ns.foo#MapOfString",
          "traits": {
            "smithy.api#httpPrefixHeaders": "conflicting-prefix-"
          }
        }
      }
    },
    "ns.foo#InvalidInput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidError": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpChecksum": {}
      }
    },
    "ns.foo#InvalidStructure": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#httpChecksum": {}
          }
        }
      }
    },
    "ns.foo#MapOfString": {
      "type": "map",
      "key": {
        "target": "ns.foo#String"
      },
      "value": {
        "target": "ns.foo#String"
      }
    },
    "ns.foo#String": {
      "type": "string"
    }
  }
}
