{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#Structure": {
            "type": "structure", 
            "members": {
                "ValidMember1": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember2": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember3": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember4": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember5": {
                    "target": "smithy.api#BigInteger",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember6": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember7": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "ValidMember8": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember9": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "ValidMember10": {
                    "target": "smithy.api#BigDecimal",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0, 
                            "max": 10
                        }
                    }
                }, 
                "ValidMember11": {
                    "target": "smithy.api#BigDecimal",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "ValidMember12": {
                    "target": "smithy.api#BigDecimal",
                    "traits": {
                        "smithy.api#range": {
                            "min": 5000.0, 
                            "max": 105000.0
                        }
                    }
                }, 
                "ValidMember13": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 5, 
                            "max": 5
                        }
                    }
                }, 
                "InvalidMember1": {
                    "target": "smithy.api#Byte",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "InvalidMember2": {
                    "target": "smithy.api#Short",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "InvalidMember3": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "InvalidMember4": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "InvalidMember5": {
                    "target": "smithy.api#BigInteger",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0.5, 
                            "max": 10.5
                        }
                    }
                }, 
                "InvalidMember6": {
                    "target": "smithy.api#BigDecimal",
                    "traits": {
                        "smithy.api#range": {
                            "min": 1, 
                            "max": 0
                        }
                    }
                }
            }
        }, 
        "ns.foo#Valid1": {
            "type": "byte", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid2": {
            "type": "short", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid3": {
            "type": "integer", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid4": {
            "type": "long", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid5": {
            "type": "bigInteger", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid6": {
            "type": "float", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid7": {
            "type": "float", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Valid8": {
            "type": "double", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid9": {
            "type": "double", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Valid10": {
            "type": "bigDecimal", 
            "traits": {
                "smithy.api#range": {
                    "min": 0, 
                    "max": 10
                }
            }
        }, 
        "ns.foo#Valid11": {
            "type": "bigDecimal", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Valid12": {
            "type": "integer", 
            "traits": {
                "smithy.api#range": {
                    "min": 5, 
                    "max": 5
                }
            }
        }, 
        "ns.foo#Invalid1": {
            "type": "byte", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Invalid2": {
            "type": "short", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Invalid3": {
            "type": "integer", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Invalid4": {
            "type": "long", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Invalid5": {
            "type": "bigInteger", 
            "traits": {
                "smithy.api#range": {
                    "min": 0.5, 
                    "max": 10.5
                }
            }
        }, 
        "ns.foo#Invalid6": {
            "type": "bigDecimal", 
            "traits": {
                "smithy.api#range": {
                    "min": 1, 
                    "max": 0
                }
            }
        }
    }
}
