{
    "smithy": "2.0",
    "shapes": {
        "ns.foo#ValidList": {
            "type": "list",
            "member": {
                "target": "ns.foo#String"
            }
        },
        "ns.foo#InvalidListMemberReference": {
            "type": "list",
            "member": {
                "target": "ns.foo#NotFound"
            }
        },
        "ns.foo#InvalidListMemberMember": {
            "type": "list",
            "member": {
                "target": "ns.foo#ValidInput$integer"
            }
        },
        "ns.foo#InvalidListMemberResource": {
            "type": "list",
            "member": {
                "target": "ns.foo#MyResource"
            }
        },
        "ns.foo#InvalidListMemberService": {
            "type": "list",
            "member": {
                "target": "ns.foo#MyService"
            }
        },
        "ns.foo#MyService": {
            "type": "service",
            "version": "2017-01-17",
            "operations": [
                {
                    "target": "ns.foo#ValidOperation"
                },
                {
                    "target": "ns.foo#InalidOperationInputOutputErrorNotFound"
                },
                {
                    "target": "ns.foo#InalidOperationInputOutputErrorBadTypes"
                },
                {
                    "target": "ns.foo#InvalidOperationBadErrorTraits"
                }
            ],
            "resources": [
                {
                    "target": "ns.foo#MyResource"
                },
                {
                    "target": "ns.foo#InvalidResourceLifecycle"
                },
                {
                    "target": "ns.foo#InvalidResourceIdentifierType"
                },
                {
                    "target": "ns.foo#InvalidResourceIdentifierReference"
                },
                {
                    "target": "ns.foo#InvalidResourceBindingReference"
                },
                {
                    "target": "ns.foo#InvalidResourceBindingType"
                },
                {
                    "target": "another.ns#InvalidResource2"
                }
            ]
        },
        "ns.foo#MyResource": {
            "type": "resource",
            "identifiers": {
                "myId": {
                    "target": "ns.foo#MyResourceIdentifier"
                }
            }
        },
        "ns.foo#MyResourceIdentifier": {
            "type": "string"
        },
        "ns.foo#Integer": {
            "type": "integer"
        },
        "ns.foo#String": {
            "type": "string"
        },
        "ns.foo#InvalidResourceIdentifierType": {
            "type": "resource",
            "identifiers": {
                "invalidInteger": {
                    "target": "ns.foo#Integer"
                }
            }
        },
        "ns.foo#InvalidResourceIdentifierReference": {
            "type": "resource",
            "identifiers": {
                "invalidId": {
                    "target": "ns.foo#NotFound"
                }
            }
        },
        "ns.foo#InvalidResourceBindingReference": {
            "type": "resource",
            "resources": [
                {
                    "target": "ns.foo#NotFound"
                }
            ]
        },
        "ns.foo#InvalidResourceBindingType": {
            "type": "resource",
            "resources": [
                {
                    "target": "ns.foo#Integer"
                }
            ]
        },
        "ns.foo#ValidOperation": {
            "type": "operation",
            "input": {
                "target": "ns.foo#ValidInput"
            },
            "output": {
                "target": "ns.foo#ValidOutput"
            },
            "errors": [
                {
                    "target": "ns.foo#ValidError"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "ns.foo#ValidInput": {
            "type": "structure",
            "members": {
                "integer": {
                    "target": "ns.foo#Integer"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "ns.foo#ValidOutput": {
            "type": "structure",
            "members": {
                "integer": {
                    "target": "ns.foo#Integer"
                },
                "list": {
                    "target": "ns.foo#ValidList"
                },
                "map": {
                    "target": "ns.foo#ValidMap"
                },
                "another": {
                    "target": "another.ns#String"
                },
                "another1": {
                    "target": "ns.foo#InvalidListMemberReference"
                },
                "another2": {
                    "target": "ns.foo#InvalidListMemberMember"
                },
                "another3": {
                    "target": "ns.foo#InvalidListMemberResource"
                },
                "another4": {
                    "target": "ns.foo#InvalidListMemberService"
                },
                "another5": {
                    "target": "ns.foo#InvalidMapType"
                },
                "another6": {
                    "target": "ns.foo#InvalidTraitReference"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "ns.foo#ValidError": {
            "type": "structure",
            "members": {
                "integer": {
                    "target": "ns.foo#Integer"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "ns.foo#InalidOperationInputOutputErrorNotFound": {
            "type": "operation",
            "input": {
                "target": "ns.foo#NotFound"
            },
            "output": {
                "target": "ns.foo#NotFound"
            },
            "errors": [
                {
                    "target": "ns.foo#NotFound"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "ns.foo#InalidOperationInputOutputErrorBadTypes": {
            "type": "operation",
            "input": {
                "target": "ns.foo#Integer"
            },
            "output": {
                "target": "ns.foo#Integer"
            },
            "errors": [
                {
                    "target": "ns.foo#Integer"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "ns.foo#InvalidOperationBadErrorTraits": {
            "type": "operation",
            "input": {
                "target": "ns.foo#ValidError"
            },
            "output": {
                "target": "ns.foo#ValidError"
            },
            "errors": [
                {
                    "target": "ns.foo#ValidInput"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "ns.foo#InvalidResourceLifecycle": {
            "type": "resource",
            "create": {
                "target": "ns.foo#Integer"
            },
            "read": {
                "target": "ns.foo#Integer"
            },
            "update": {
                "target": "ns.foo#Integer"
            },
            "delete": {
                "target": "ns.foo#Integer"
            }
        },
        "ns.foo#InvalidMapType": {
            "type": "map",
            "key": {
                "target": "ns.foo#ValidInput"
            },
            "value": {
                "target": "ns.foo#Integer"
            }
        },
        "ns.foo#ValidMap": {
            "type": "map",
            "key": {
                "target": "ns.foo#String"
            },
            "value": {
                "target": "ns.foo#String"
            }
        },
        "ns.foo#fooTrait": {
            "type": "string",
            "traits": {
                "smithy.api#trait": {}
            }
        },
        "ns.foo#InvalidTraitReference": {
            "type": "list",
            "member": {
                "target": "ns.foo#fooTrait"
            }
        },
        "another.ns#String": {
            "type": "string"
        },
        "another.ns#InvalidResource2": {
            "type": "resource"
        }
    }
}
