sphinx>=5.0.0
pygments==2.15.0
furo==2022.6.21

# Used by new docs.
sphinx-inline-tabs==2022.1.2b11
Sphinx-Substitution-Extensions==2022.2.16

# Use by old docs.
sphinx-tabs>=3.4.4

sphinx_copybutton==0.5.0
sphinx-autobuild>=2024.4.16

# needs to be added as it is removed in python3.13
standard-imghdr==3.13.0
