/* Based on https://github.com/smasue/pygments */
.highlight { color: #A9B7C6; background-color: #2f2d2a; }
.highlight .hll { background-color: #49483e; }
.highlight .c { color: #75715e; }
.highlight .err { color: #960050; background-color: #1e0010; }
.highlight .k { color: #E3812E; }
.highlight .l { color: #6897BB; }
.highlight .n { color: #A9B7C6; }
.highlight .o { color: #A9B7C6; }
.highlight .p { color: #A9B7C6; }
.highlight .cm { color: #89846d; }
.highlight .cp { color: #75715e; }
.highlight .c1 { color: #75715e; }
.highlight .cs { color: #75715e; }
.highlight .ge { font-style:italic; }
.highlight .gs { font-weight:bold; }
.highlight .kc { color: #E3812E; }
.highlight .kd { color: #E3812E; }
.highlight .kn { color: #A9B7C6; }
.highlight .kp { color: #E3812E; }
.highlight .kr { color: #E3812E; }
.highlight .kt { color: #E3812E; }
.highlight .ld { color: #A5C25C; }
.highlight .m { color: #6897BB; }
.highlight .s { color: #A5C25C; }
.highlight .na { color: #9876AA; }
.highlight .nb { color: #A9B7C6; }
.highlight .nc { color: #cfd4c5; }
.highlight .no { color: #E3812E; }
.highlight .nd { color: #f1c829; }
.highlight .ni { color: #A9B7C6; }
.highlight .ne { color: #88be05; }
.highlight .nf { color: #88be05; }
.highlight .nl { color: #A9B7C6; }
.highlight .nn { color: #A9B7C6; }
.highlight .nx { color: #88be05; }
.highlight .py { color: #A9B7C6; }
.highlight .nt { color: #f1c829; }
.highlight .nv { color: #A9B7C6; }
.highlight .ow { color: #A9B7C6; }
.highlight .w { color: #A9B7C6; }
.highlight .mf { color: #6897BB; }
.highlight .mh { color: #6897BB; }
.highlight .mi { color: #6897BB; }
.highlight .mo { color: #6897BB; }
.highlight .sb { color: #A5C25C; }
.highlight .sc { color: #A5C25C; }
.highlight .sd { color: #A5C25C; }
.highlight .s2 { color: #A5C25C; }
.highlight .se { color: #6897BB; }
.highlight .sh { color: #A5C25C; }
.highlight .si { color: #A5C25C; }
.highlight .sx { color: #A5C25C; }
.highlight .sr { color: #A5C25C; }
.highlight .s1 { color: #A5C25C; }
.highlight .ss { color: #A5C25C; }
.highlight .bp { color: #A9B7C6; }
.highlight .vc { color: #CFD4C5; font-style: italic; }
.highlight .vg { color: #A9B7C6; }
.highlight .vi { color: #A9B7C6; }
.highlight .il { color: #6897BB; }
.highlight .gu { color: #75715e; }
.highlight .gd { color: #A9B7C6; }
.highlight .gi { color: #88be05; }
.highlight .l-Scalar-Plain { color: #88be05; }
