name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    strategy:
      matrix:
        java: [8, 11, 17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'

      - name: Clean and build
        run: ./gradlew clean build -Plog-tests

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: java-${{ matrix.java }}-${{ matrix.os }}-test-report
          path: '**/build/reports/tests'

  build-docs:
    runs-on: ubuntu-latest
    name: Documentation Build
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install doc dependencies
      run: cd docs && make install

    - name: Build docs
      run: cd docs && make html

    - uses: actions/upload-artifact@v2
      with:
        name: built-docs
        path: docs/build/html
