name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    strategy:
      matrix:
        java: [8, 11, 17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'

      - name: Clean, build and javadoc
        run: ./gradlew clean build javadoc -Plog-tests --stacktrace

      - name: Allow long file names in git for windows
        if: matrix.os == 'windows-latest'
        run: git config --system core.longpaths true

      - name: CLI integration tests
        if: matrix.java >= 17
        run: ./gradlew :smithy-cli:integ -Plog-tests --stacktrace

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: java-${{ matrix.java }}-${{ matrix.os }}-test-report
          path: '**/build/reports/tests'

  build-docs:
    runs-on: ubuntu-latest
    name: Documentation Build
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install doc dependencies
      run: cd docs && make install

    - name: Build docs
      run: cd docs && make html

    - uses: actions/upload-artifact@v4
      with:
        name: built-docs
        path: docs/build/html
