name: sdk-codegen-ci

on:
  workflow_dispatch:

jobs:
  build-aws-sdk-js-v3:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Increase Node Heap space
        run: echo "NODE_OPTIONS=--max-old-space-size=16384" >> $GITHUB_ENV

      - uses: actions/checkout@v3
      - id: smithy-version
        uses: ./.github/workflows/checkout-and-build-smithy

      - name: Add smithyVersion env variable
        run: echo "smithyVersion=${{ steps.smithy-version.outputs.smithy-version }}" >> $GITHUB_ENV

      - name: Checkout smithy-typescript
        uses: actions/checkout@v3
        with:
          repository: awslabs/smithy-typescript
          path: smithy-typescript

      - name: Build smithy-typescript
        run: cd smithy-typescript && ./gradlew -PsmithyVersion=$smithyVersion clean build publishToMavenLocal

      - name: Checkout aws-sdk-js-v3
        uses: actions/checkout@v3
        with:
          repository: aws/aws-sdk-js-v3
          path: aws-sdk-js-v3

      - name: Build aws-sdk-js-v3
        run: cd aws-sdk-js-v3/codegen && ./gradlew -PsmithyVersion=$smithyVersion clean build

      - name: Test aws-sdk-js-v3
        run: cd aws-sdk-js-v3 && yarn && yarn test:all

  build-aws-sdk-go-v2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: actions/checkout@v3
      - id: smithy-version
        uses: ./.github/workflows/checkout-and-build-smithy

      - name: Add smithyVersion env variable
        run: echo "smithyVersion=${{ steps.smithy-version.outputs.smithy-version }}" >> $GITHUB_ENV

      - name: Checkout smithy-go
        uses: actions/checkout@v3
        with:
          repository: aws/smithy-go
          path: smithy-go

      - name: Build smithy-go
        run: cd smithy-go/codegen && ./gradlew -PsmithyVersion=$smithyVersion clean build publishToMavenLocal

      - name: Checkout aws-sdk-go-v2
        uses: actions/checkout@v3
        with:
          repository: aws/aws-sdk-go-v2
          path: aws-sdk-go-v2

      - name: Build aws-sdk-go-v2
        run: |
          cd aws-sdk-go-v2/codegen
          ./gradlew -PsmithyVersion=$smithyVersion clean build -Plog-tests
          ./gradlew clean

      - name: Run aws-sdk-go-v2 protocol tests
        # This is essentially the `ci-test` command in the Makefile
        run: |
          cd aws-sdk-go-v2 && make update-requires gen-repo-mod-replace \
          update-module-metadata smithy-annotate-stable gen-config-asserts gen-internal-codegen \
          copy-attributevalue-feature gen-mod-dropreplace-smithy-. min-go-version-. tidy-modules-. \
          add-module-license-files gen-aws-ptrs format unit-race ci-test-generate-validate

  build-aws-sdk-kotlin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: smithy-version
        uses: ./.github/workflows/checkout-and-build-smithy

      - name: Add smithyVersion env variable
        run: echo "smithyVersion=${{ steps.smithy-version.outputs.smithy-version }}" >> $GITHUB_ENV

      - name: Checkout smithy-kotlin
        uses: actions/checkout@v3
        with:
          repository: awslabs/smithy-kotlin
          path: smithy-kotlin

      - name: Build smithy-kotlin
        run: cd smithy-kotlin && ./gradlew -PsmithyVersion=$smithyVersion clean build publishToMavenLocal

      - name: Checkout aws-sdk-kotlin
        uses: actions/checkout@v3
        with:
          repository: awslabs/aws-sdk-kotlin
          path: aws-sdk-kotlin

      - name: Build aws-sdk-kotlin
        run: cd aws-sdk-kotlin && ./gradlew -PsmithyVersion=$smithyVersion clean build

      - name: Build aws-sdk-kotlin
        run: cd aws-sdk-kotlin && ./gradlew -PsmithyVersion=$smithyVersion clean build publishToMavenLocal

      - name: Run aws-sdk-kotlin protocol tests
        run: cd aws-sdk-kotlin && ./gradlew -PsmithyVersion=$smithyVersion -p codegen/protocol-tests testAllProtocols

  build-aws-sdk-swift:
    runs-on: ubuntu-latest
    steps:
      - uses: swift-actions/setup-swift@v1
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'

      - uses: actions/checkout@v3
      - id: smithy-version
        uses: ./.github/workflows/checkout-and-build-smithy

      - name: Add smithyVersion env variable
        run: echo "smithyVersion=${{ steps.smithy-version.outputs.smithy-version }}" >> $GITHUB_ENV

      - name: Checkout aws-crt-swift
        uses: actions/checkout@v3
        with:
          repository: awslabs/aws-crt-swift
          path: Sources/SmithySwift/aws-crt-swift

      - name: Checkout smithy-swift
        uses: actions/checkout@v3
        with:
          repository: awslabs/smithy-swift
          path: Sources/SmithySwift/smithy-swift

      - name: Build smithy-swift
        run: |
          echo $smithyVersion && cd Sources/SmithySwift/smithy-swift
          ./gradlew -PsmithyVersion=$smithyVersion clean build publishToMavenLocal

      - name: Checkout aws-sdk-swift
        uses: actions/checkout@v3
        with:
          repository: awslabs/aws-sdk-swift
          path: Sources/SmithySwift/aws-sdk-swift

      - name: Set SMITHY_SWIFT_CI_DIR env variable
        run: echo "SMITHY_SWIFT_CI_DIR=$GITHUB_WORKSPACE/Sources/SmithySwift/smithy-swift" >> $GITHUB_ENV

      - name: Set AWS_SDK_SWIFT_CI_DIR env variable
        run: echo "AWS_SDK_SWIFT_CI_DIR=$GITHUB_WORKSPACE/Sources/SmithySwift/aws-sdk-swift" >> $GITHUB_ENV

      - name: Build aws-sdk-swift
        run: cd Sources/SmithySwift/aws-sdk-swift && ./gradlew -PsmithyVersion=$smithyVersion clean build

      - name: Generate Swift SDKs
        run: cd Sources/SmithySwift/aws-sdk-swift && ./gradlew -PsmithyVersion=$smithyVersion -p codegen/sdk-codegen build

      - name: Build codegen/protocol-test-codegen-local
        run: cd Sources/SmithySwift/aws-sdk-swift && ./gradlew -PsmithyVersion=$smithyVersion -p codegen/protocol-test-codegen-local build

      - name: Run local protocol tests
        run: cd Sources/SmithySwift/aws-sdk-swift/codegen/protocol-test-codegen-local/build && swift test

  build-smithy-rs:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.62.1

      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'

      - uses: actions/checkout@v3
      - id: smithy-version
        uses: ./.github/workflows/checkout-and-build-smithy

      - name: Add smithyVersion env variable
        run: echo "smithyVersion=${{ steps.smithy-version.outputs.smithy-version }}" >> $GITHUB_ENV

      - name: Check out smithy-rs
        uses: actions/checkout@v3
        with:
          repository: awslabs/smithy-rs
          ref: main
          path: smithy-rs

      - name: Check out aws-sdk-rust
        uses: actions/checkout@v3
        with:
          repository: awslabs/aws-sdk-rust
          ref: main
          path: aws-sdk-rust

      - name: Install rustfmt
        run: rustup component add rustfmt

      - name: Build smithy-rs
        run: |
          cd smithy-rs
          ./gradlew :aws:sdk:assemble -PsmithyVersion=$smithyVersion

      - name: Test smithy-rs
        run: |
          cd smithy-rs
          ./gradlew :aws:sdk:cargoTest -PsmithyVersion=$smithyVersion
