name: "Close stale issues"

# Controls when the action will run.
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  cleanup:
    runs-on: ubuntu-latest
    name: Stale issue job
    steps:
      - uses: aws-actions/stale-issue-cleanup@v3
        with:
          # Targeted types
          issue-types: issues

          # Issue timing
          days-before-stale: 60
          days-before-close: 14
          days-before-ancient: 365

          # Labels
          stale-issue-label: closing-soon
          exempt-issue-label: bug,documentation,feature-request,investigating,protocol-test
          response-requested-label: response-requested

          # Messages
          stale-issue-message: This issue has not received a response in a while. If you still think there is a problem, please leave a comment to avoid the issue from automatically closing.
          ancient-issue-message: We’re closing this issue because it has been open a long time and hasn’t been updated in a while and may not be getting the attention it deserves. We encourage you to check if this is still an issue in the latest release and if you find that this is still a problem, please feel free to comment or open a new issue.

          # If you don't want to mark a issue as being ancient based on a
          # threshold of "upvotes", you can set this here. An "upvote" is
          # the total number of +1, heart, hooray, and rocket reactions
          # on an issue.
          minimum-upvotes-to-exempt: 5

          # Don't set closed-for-staleness label to skip closing very old issues
          # regardless of label
          closed-for-staleness-label: closed-for-staleness

          repo-token: ${{ secrets.GITHUB_TOKEN }}
          loglevel: DEBUG
